dl.Zebra_Accordion{ width: 100%; font-family: Arial, sans-serif; font-size: 12px }
dl.Zebra_Accordion dt{ background: #353639; color: #FFF; font-weight: bold; padding: 10px; cursor: pointer;}
dl.Zebra_Accordion dt img{width:15px;height:15px;margin:0 10px;}
dl.Zebra_Accordion dt:hover{ background: #41474F;}
dl.Zebra_Accordion dd{ background: #41474F; padding: 0px; margin: 0px;}
dl.Zebra_Accordion dd a img{width:15px;height:15px;margin:0 10px;}
dl.Zebra_Accordion dd a{display:block;padding:10px 15px 10px 30px;color:#ffffff;border-bottom:1px solid #353639;}
dl.Zebra_Accordion dd a:hover{text-decoration: none;background:#DC6161;border-top: 1px solid #41474F;border-bottom: 1px solid #41474F;}
dl.Zebra_Accordion dt.Zebra_Accordion_Expanded{ background: #DC6161; }